HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mobile React Native & Expo ###
mobile/node_modules/
mobile/.expo/
mobile/dist/
mobile/npm-debug.log*
mobile/yarn-debug.log*
mobile/yarn-error.log*

### Global Environment Variables Ignores ###
.env
.env*.local
**/.env
**/.env*.local

